@page
@model StudentTeacherApp.Pages.Students.AddStudentModel

@{
    ViewData["Title"] = "AddStudent";
}

<h1>Add Student</h1>

<h4>StudentDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentDTO.Firstname" class="control-label"></label>
                <input asp-for="StudentDTO.Firstname" class="form-control" />
                <span asp-validation-for="StudentDTO.Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentDTO.Lastname" class="control-label"></label>
                <input asp-for="StudentDTO.Lastname" class="form-control" />
                <span asp-validation-for="StudentDTO.Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
