@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 mt-4">Welcome to the School-AUEB Control Panel</h1>
    <p>Start exploring the database now as an Admin, Teacher or Student!</a>.</p>
    <div class="shadow mb-5 mt-5 col-md-11 bg-white rounded" style="padding: 1%" >
        <img src="https://i.imgur.com/7c2WMOz.jpg" class="rounded" />
    </div>
</div>

