@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 mt-4">Welcome to the School-AUEB Control Panel</h1>
    <p>Start exploring the database now as an Admin, Teacher or Student!</a>.</p>
    <img src="https://i.imgur.com/7c2WMOz.jpg" class="rounded mt-5" />
</div>

