@page
@model StudentTeacherApp.Pages.Account.AccountExistsModel
@{
    ViewData["Title"] = "Account Exists";
}
<div>
    <h1>Account Already Exists</h1>
    <p>The provided username is not available.</p>
</div>