@page
@model StudentTeacherApp.Pages.Account.CourseExistsModel
@{
}

<div>
    <h1>Unavailable Course</h1>
    <p>Selected User is already enrolled in this course.</p>
    <p>Return to the<a href='javascript:history.go(-1)' > Previous Page</a></p>
</div>
