@page
@model StudentTeacherApp.Pages.Account.UserDoesntExistModel
@{
    ViewData["Title"] = "User does not exist";
}
<div>
    <h1>User does not exist</h1>
    <p>This username is invalid.</p>
</div>