@page "{studentid:int},{courseid:int}"
@model GetStudentCourseModel

@{
    ViewData["Title"] = "Student Course Details";
}

<h1>Student Course Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Student Id
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentCourseDTO.StudentId)
        </dd>
        <dt class="col-sm-2">
            Course Id
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentCourseDTO.CourseId)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-page="./UpdateStudentCourse" asp-route-id="@Model.StudentCourseDTO?.StudentId" class="btn btn-primary mt-5 mb-2">Edit</a>*@
    <br />
    <a asp-page="./GetStudentCourses">Back to List</a>
</div>
