@page "{id:int}"
@model StudentTeacherApp.Pages.Admins.UpdateAdminModel

@{
    ViewData["Title"] = "Edit Admin";
}

<h1>Edit Admin</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AdminDTO.Id" />
            <div class="form-group">
                <label asp-for="AdminDTO.Firstname" class="control-label"></label>
                <input asp-for="AdminDTO.Firstname" class="form-control" />
                <span asp-validation-for="AdminDTO.Firstname" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="AdminDTO.Lastname" class="control-label"></label>
                <input asp-for="AdminDTO.Lastname" class="form-control" />
                <span asp-validation-for="AdminDTO.Lastname" class="btn btn-primary mt-5 mb-2"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mt-5 mb-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./GetAdmins">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
